{% extends 'tesisControltesisBundle::Template.html.twig' %}
{% block javascripts %}
    {{parent()}}
    <script>
    $(document).ready(function() {
    $('#tabla').DataTable();
    });
    
    </script>
 {% endblock %}

{% block body -%}
    <h1>Tribunal list</h1>

    <table id="tabla" class="display">
        <thead>
            <tr>
                <th>Id</th>
                <th>Observacion</th>
                <th>Nota</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('tribunal_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.observacion }}</td>
                <td>{{ entity.nota }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('tribunal_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('tribunal_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('tribunal_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
