{# src/minsal/academicaAnBundle/Resource/views/menu.html.twig #}
  {% block stylesheets %}
        <link href="{{ asset('bundles/tesiscontroltesis/menu/pro_drop_1.css') }}" rel="stylesheet" type="text/css" />
  {% endblock %}
  {% block javascripts %}       
        <script type="text/javascript" src="{{ asset('bundles/tesiscontroltesis/menu/stuHover.js') }}" ></script>
  {% endblock %}
<span class="preload1"></span>
<span class="preload2"></span>
 
<ul id="nav">
    <li class="top">
        <a href="{{ path('controltesis_homepage') }}" class="top_link">
            <span>Inicio</span>
        </a>
    </li>
    
    <li class="top">
        <a href="{{ path('controltesis_homepage') }}" class="top_link">
            <span class="down">Proceso de tesis</span></a>
            <ul class="sub">
                <li><a href="{{ path('etapa') }}">etapas</a></li>
                <li><a href="{{ path('asesoria') }}">asesorias</a></li>
                <li><a href="{{ path('tesisestado') }}">estado de tesis</a></li>
            </ul>
    </li>
    <li class="top">
        <a href="{{ path('controltesis_homepage') }}" class="top_link">
            <span class="down">Gestio de grupos</span></a>
            <ul class="sub">
                <li><a href="{{ path('grupotesis') }}">creacion de grupos</a></li>
                <li><a href="{{ path('perfil') }}">perfiles de TG</a></li>
                <li><a href="{{ path('tribunal') }}">asignacion de tribunal</a></li>
            </ul>
    </li>
    <li class="top">
        <a href="{{ path('controltesis_homepage') }}" class="top_link">
            <span class="down">Gestion de notas</span></a>
            <ul class="sub">
                <li><a href="{{ path('notas') }}">ingreso de notas</a></li>
            </ul>
    </li>
    <li class="top">
        <a href="{{ path('controltesis_homepage') }}" class="top_link">
            <span class="down">Consultas</span> </a>
            <ul class="sub">
                <li><a href="{{ path('alumno') }}">consulta de alumnos</a></li>
                <li><a href="{{ path('docente') }}">consulta de docentes</a></li>
                <li><a href="{{ path('departamento') }}">consulta de departamentos</a></li>
                <li><a href="{{ path('carrera') }}">consulta de carreras</a></li>
            </ul>
            
    </li>
    <li class="top">
        <a href="{{ path('usuario') }}" class="top_link">
            <span class="down">Seguridad</span> </a>
            <ul class="sub">
                <li><a href="{{ path('usuario') }}">gestion de usuarios</a></li>
                <li><a href="{{ path('rol') }}">gestion de roles</a></li>
            </ul>
            
    </li>
    <li class="top">
        <a href="{{ path('trazabilidad') }}" class="top_link">
            <span class="down">Trazabilidad</span> </a>
            <ul class="sub">
                <li><a href="{{ path('trazabilidad') }}">Trazabilidad de eventos</a></li>
                <li><a href="{{ path('eventoext') }}">Gestion de eventos</a></li>
            </ul>
    </li>
</ul>