{% extends 'tesisControltesisBundle::Template.html.twig' %}
{% block javascripts %}
    {{parent()}}
    <script>
    $(document).ready(function() {
    $('#tabla').DataTable();
    });
        
    </script>
{% endblock %}
{% block titulo %}CRUD de uSUARIO{% endblock %}

{% block body -%}

    <h1>Usuario list</h1>
        <table id="tabla" class="display">
        <thead>
            <tr>
                <th>Id</th>
                <th>Clave</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('usuario_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.clave }}</td>
                <td>
                <ul>
                    <li class="label label-success">
                        <a href="{{ path('usuario_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('usuario_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <ul>
        <li>
            <a href="{{ path('usuario_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
